site_name: DS and Algo Problems
site_url: https://abhishekghoshh.github.io/ds-algo-cp-problems
#docs_dir: 'src/docs'
nav:
  - Home: index.md
  - resources: resources.md
  - prerequisites: prerequisites.md
  - math: maths.md
  - arrays: arrays.md
  - hashing: hashing.md
  - two pointers: two-pointers.md
  - sliding window: sliding-window.md
  - binary search: binary-search.md
  - strings: strings.md
  - linked list: linked-list.md
  - recursion: recursion.md
  - stack: stack.md
  - queue: queue.md
  - heap/priority queue: heap.md
  - bit manipulation: bit-manipulation.md
  - prime: prime.md
  - greedy: greedy.md
  - dynamic programming: dynamic-programming.md
  - meet in the middle: meet-in-the-middle.md
  - binary tree: binary-tree.md
  - binary search tree: binary-search-tree.md
  - graph: graph.md
  - segment tree: segment-tree.md
  - fenwick tree/binary indexed tree: fenwick-tree.md
  - tries: tries.md
  - problem series: problem-series.md

extra_javascript:
  - javascripts/extra.js
extra_css:
  - stylesheets/extra.css


theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: teal
      accent: purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: teal
      accent: lime

plugins:
  - social
  - search
  - mkdocs-pdf

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/abhishekghoshh
    - icon: fontawesome/brands/twitter
      link: https://x.com/abhishek_ghoshh
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/abhishek-ghosh-220679132/

markdown_extensions:
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg


copyright: |
  &copy; 2025 <a href="https://github.com/abhishekghoshh"  target="_blank" rel="noopener">Abhishek Ghosh</a>